#bodyLevelOne {
    font-family: 'Lora', serif;
    background-image: url(../img/ZombieLevelOne.png); 
    background-size: cover;
    background-position: left;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#character {
    position: absolute; /* Hierdoor kan de afbeelding vrij bewegen */
    width: 150px; /* Pas de grootte van de afbeelding aan */
    height: 550; /* Houd de verhouding van de afbeelding */
}
.exit-btn{
    position: absolute; 
    top: 25px;          
    right: 10px;        
    background-color: #f44336; 
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: #d7680d; 
    color: #fff; 
    font-size: 1.2em;
    font-family: 'Lora', serif;
}
button:hover{
    background-color:#d7680d ;
}
