#bodyLevelOne {
    font-family: 'Lora', serif;
    background-image: url(../img/ZombieLevelOne.png); 
    background-size: cover;
    background-position: left;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#player {
    position: absolute; /* Hierdoor kan de afbeelding vrij bewegen */
    width: 150px; /* Pas de grootte van de afbeelding aan */
    height: 550; /* Houd de verhouding van de afbeelding */
}
#bullet1 {
    position: absolute; /* Hierdoor kan de afbeelding vrij bewegen */
    width: 50px; /* Pas de grootte van de afbeelding aan */
    height: 50px; /* Houd de verhouding van de afbeelding */
}
#Volgendlevel{
    margin-left: 3817px;
    margin-top: -12px;
}
a {
    size: 100px;
}
body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.bullet {
    position: absolute;
    width: 115px; /* Pas de grootte aan indien nodig */
    height: 60px;
    background-image: url(../img/Bullet.png); /* Kleur van de kogel */
}
